*{
    margin: 0;
    padding: 0;
    
}
.header{
    margin-top: 5px;
    display: flex;
    padding: 2px;
    margin-left: 60%;
    color: rgb(176, 23, 214);
}
form{
    border: 2px solid rgb(47, 14, 211);
    width: 50%;
    margin: 40px auto; 
}
.nhap {
    margin-left: 15%;
}
.nhap1{
    padding: 20px;
}
table tr td{
    padding: 2px;
}
.select-one{
    width: 20%;
    margin-left: 3%;
}  
.select-Month{
    width: 27%;
    margin-left: 1%;    
}
