body{background-color: #222;}
.container{
    margin-top: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    font-size: 20px;
    font-weight: 700;
    width: 20px;
    text-align: center;
    margin: 5px;
    padding: 13px;
    border-radius: 50%;
    background-color: #686464;
    box-shadow: 0 0 8px 2px;
    transition: .3s ;
}
.icon1:hover{ color: #6051ff;}
.icon2:hover{ color: #80cBff;}
.icon3:hover{ color: #db0cc3;}
.icon4:hover{ color: #e91e5e;}

